/* #Image{
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
   
} */
.image-round {
  animation: spin 30s linear infinite;
}

.row{
  background:linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(https://themewagon.github.io/restoran/img/bg-hero.jpg);
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
